extends ../layouts/rescommon.pug
block header
  link(rel='stylesheet' href='../../css/hostpage.css')
  nav.navbar.navbar-light.bg-primary
    a.navbar-brand(href='/res/hostpage')
      img(src='https://res.cloudinary.com/ducsine/image/upload/v1621242491/logo.png' width='200px' height='100px')
    .div-inline(style='width: 280px')
      a.notification
        i.fa.fa-bell(style='font-size:30px;')
        span.badge #{curentTransasionTotal}
      img.avatar(src=restaurant.banner)
      b  #{name} 
  .notifications_class
    ul.text-primary
      each item in notifications
        li Đơn hàng #{item._id} #{item.status}
  .user-container
    a#a_usInfo.text-primary Thông tin cửa hàng
    a#a_usChangePass.text-primary Đổi mật khẩu
    button#btn_logout.btn.btn-danger Đăng xuất


  
  #accountInfo.modal.accountInfo-modal
    form.modal-content.accountInfo-modal-content.animate(action='/api/res/auth/editAccount' method='post' enctype='multipart/form-data' onsubmit='return accInfoSubmit()'  )
      div(style='background-color:#f1f1f1; text-align: center;')
        label.text-primary
          b(style='font-size: xx-large;') Thông tin cửa hàng
      .container
        .row(style='padding:16px')
          .col-sm-9
            .form-group
              label(for='ifrestaurantName')
                b Tên nhà hàng &nbsp;&nbsp;&nbsp;
                i.fas.fa-edit
              input#ifrestaurantName.form-control(type='text' name='restaurantName' placeholder='Nhập tên nhà hàng' value= restaurant.restaurantName disabled required='')

            .form-group
              label(for='')
                b Loại hình kinh doanh: 
                b#ifb_resTypeName #{resType.typeName} &nbsp;&nbsp;&nbsp;
                i.fas.fa-edit
              select(name='type' style='display:none ;width: 300px;' value=restaurant.type )
                option.dropdown-item(value= null) Chọn
                option.dropdown-item(value='606c29b97141a71498bd32d8') Quán bún, phở, hủ tiếu,...
                option.dropdown-item(value='606c29c27141a71498bd32d9') Quán cơm
                option.dropdown-item(value='606c29df7141a71498bd32da') Quán coffee, trà sữa,...
                option.dropdown-item(value='606c29fb7141a71498bd32db') Đồ ăn nhanh (bánh mỳ, fast foods,...)
                option.dropdown-item(value='606c2a067141a71498bd32dc') Đồ ăn vặt
                option.dropdown-item(value='60829a97c0f329750c092ee0') Khác
            .form-group
              label(for='')
                b Email
              p
                label#lb_email(for='')
                  b #{restaurant.email}
            .form-group
              label(for='ifphone')
                b Điện thoại &nbsp;&nbsp;&nbsp;
                i.fas.fa-edit
              input#ifphone.form-control(type='text' name='phone' pattern="(09|03|07|08|05)+([0-9]{8})" title='Số điện thoại không hợp lệ.' placeholder='Nhập số điện thoại' value= restaurant.phone disabled required='')
            .form-group
              label(for='ifaddress')
                b Địa chỉ &nbsp;&nbsp;&nbsp;
                i.fas.fa-edit
              input#ifaddress.form-control(type='text' name='address' placeholder='Nhập điạ chỉ' value=restaurant.address disabled required='')
          .col-sm-3
            .form-group
              img#ifshow_image.img.img-thumbnail.img-circle(width='300' height='300' src=restaurant.banner )
            .form-group
              input#ifimage.form-control(type='file' name='banner' accept='image/*')
        .form-group(style='padding-top: 24px; padding-left: 48px; padding-right: 48px;')
          span
            button.btn.btn-primary(type='submit') Cập nhật
          span(style='float: right')
            button.btn.btn-danger(type='button' onclick='accInfoCancel()') Thoát
      .container(style='background-color:#f1f1f1')
 
  #accountChangePass.modal.changepass-modal
    form.modal-content.changepass-modal-content.animate(action='api/res/auth/changePassword' onsubmit='return changePassSubmit()'  method='post')
      div(style='background-color:#f1f1f1; text-align: center;')
        label.text-primary
          b(style='font-size: xx-large;') Đổi mật khẩu
      .container
        .form-group
          label(for='cppassword')
            b Mật khẩu cũ
          input#cppassword.form-control(type='password' name='password' placeholder='Nhập mật khẩu cũ' pattern='[A-Za-z0-9]{8,30}' title='Mật khẩu không chứa ký tự đặc biệt, gồm 8-30 ký tự' required='')
        .form-group
          label(for='cpnewPassword')
            b Mật khẩu mới
          input#cpnewPassword.form-control(type='password' name='newPassword' placeholder='Nhập mật khẩu mới' pattern='[A-Za-z0-9]{8,30}' title='Mật khẩu không chứa ký tự đặc biệt, gồm 8-30 ký tự' required='')
        .form-group
          label(for='cppasswordConfirm')
            b Xác nhận mật khẩu
          input#cppasswordConfirm.form-control(type='password' name='passwordConfirm' placeholder='Nhập lại mật khẩu' pattern='[A-Za-z0-9]{8,30}' title='Mật khẩu không chứa ký tự đặc biệt, gồm 8-30 ký tự' required='')
      .form-group(style='padding: 32px 48px 32px 48px')
        span
          button.btn.btn-primary(type='submit') Cập nhật
        span(style='float: right')
          button.btn.btn-danger(type='button' onclick="document.getElementById('accountChangePass').style.display='none'") Thoát
      .container(style='background-color:#f1f1f1')
  
block sidebar
  ul.nav.nav-pills.flex-column(style='padding-top:30px;font-size: x-large;')
    li.nav-item
      a.nav-link.active(href='?load=hostpage') Trang chủ
    li.nav-item
      a.nav-link(href='?load=product') Sản Phẩm
    li.nav-item
      a.nav-link(href='?load=bill') Quản lý đơn hàng
    li.nav-item
      a.nav-link(href='?load=discount') Mã giảm giá

block content
  
  #divHostPage.div-content(style='padding-top:30px')
    .filt    
      label(for="")
        b.text-primary Lọc theo: &nbsp; &nbsp;   
      select.text-primary
        option(value="1") Hôm nay 
        option(value="2") Tuần này
        option(value="3") Tháng này
        option(value="4") Năm nay
    .chart
      canvas#reschart

    hr
    h4.text-primary Doanh thu
    p
      b.text-primary Tổng doanh thu: 
      i 500
    p
      b.text-primary Giá trị trung bình mỗi đơn hàng: 
      i 500

    hr
    h4.text-primary Khách hàng
    p
      b.text-primary Tổng khách hàng: 
      i 500
    p
      b.text-primary Khách hàng mới: 
      i 500

    hr
    h4.text-primary Tỷ lệ đánh giá sản phẩm
    p
      b.text-primary Sản phẩm được đánh giá trên [4-5] sao: 
      i 500
    p
      b.text-primary Sản phẩm được đánh giá [3-4] sao: 
      i 500
    p
      b.text-primary Sản phẩm được đánh giá [0-3] sao: 
      i 500

  #divProduct.div-content(style='display:none;padding-top:30px')
    .search-container(style="float:right; padding-right:30px;")
      .form(onsubmit='return false' method='get')
        input#inputSearch(type="text" placeholder="Search.." name="keySearch")
        button(type="button" onclick='search()')
          i.fa.fa-search

    p#totalPage(style='display:none') #{fPageTotal}
    div(style='padding-top:40px;')
      span
      | Tổng số sản phẩm: #{foodTotal}
      span(style='float: right; padding-right:30px;')
        button#btn_addProduct.btn.btn-primary(type='button' style='float:right') Thêm sản phẩm

    ul#listProduct(style='list-style:none; padding:30px')
      each food in foods 
        li(onclick='showProductDetail(this.querySelector("p.foodId").textContent)')
          p.foodId(style='display:none') #{food._id}
          .media.border.p-1
            img.mr-3.mt-3.img-thumbnail(src=food.image style='width:80px;')
            .media-body
              label(style="font-size: x-large;")
                b #{food.foodName}
              i.fas.fa-star.text-warning(style="float: right;")
                b(style='color: black') #{food.rate}
              p 
                b Giá:&nbsp;#{food.price}đ
              p #{food.buys} lượt mua
              
      #divDirect(style='padding:30px;')
        span(style='padding-right:5px')
          button#btn_pre.btn.btn-primary(type='button' onclick='previousPage()') 
            i.fas.fa-angle-double-left
        span(style='padding-left:5px')
          button#btn_next.btn.btn-primary(type='button' onclick='nextPage()') 
            i.fas.fa-angle-double-right

  #divBillManager.div-content.container.mt-3(style='display:none')
    // Nav tabs
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.active(data-toggle='tab' href='#billWait')
          h4 Đang chờ
      li.nav-item
        a.nav-link(data-toggle='tab' href='#billConfirm')
          h4 Đã xác nhận
      li.nav-item
        a.nav-link(data-toggle='tab' href='#billDone')
          h4 Đã thanh toán
      li.nav-item
        a.nav-link(data-toggle='tab' href='#billCancle')
          h4 Đã Hủy
    // Tab panes
    .tab-content
      #billWait.container.tab-pane.active
        br
        div(style)
          ul#listProduct(style='list-style:none;')
            each bill in curentTransasion
              li(onclick='getWaitBillDetail(this.querySelector("#billId").textContent)')
                .media.border.p-1
                  .media-body(style='padding-left: 30px; padding-right: 30px')
                    label#billId(style='font-size: x-large;')
                      b Bill ID: 
                      | #{bill._id}
                    i.fas.fa-clock.text-warning(style='float: right;')
                      b(style='color: black')  Chờ xác nhận
                    p
                      b Ngày tạo đơn hàng: 
                      | #{bill.dateCreate} 
                    p
                      b Khách hàng: 
                      | #{bill.user.username}
                    p
                      b Tổng cộng: 
                      | #{bill.total} 
                       
      #billConfirm.container.tab-pane.fade
        br
        div(style)
          ul#listProduct(style='list-style:none;')
            each bill in confrimTransasion
              li(onclick='getWaitBillDetail(this.querySelector("#cfbillId").textContent)')
                .media.border.p-1
                  .media-body(style='padding-left: 30px; padding-right: 30px')
                    label#cfbillId(style='font-size: x-large;')
                      b Bill ID: 
                      | #{bill._id}
                    i.fas.fa-calendar-check.text-primary(style='float: right;')
                      b(style='color: black')  Đã xác nhận
                    p
                      b Ngày tạo đơn hàng: 
                      | #{bill.dateCreate} 
                    p
                      b Khách hàng: 
                      |  #{bill.user.username}
                    p
                      b Tổng cộng: 
                      | #{bill.total} 

      #billDone.container.tab-pane.fade
        br
        div(style='margin-right: 0px;')
          span
            label(for='') Từ ngày:  &nbsp;
            input(type='date') 
            label(for='') &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Đến ngày: &nbsp;
            input(type='date')
          span 
            .search-container(style="float:right; padding-right:30px;")
              .form(onsubmit='return false' method='get')
                input#inputSearch(type="text" placeholder="Search.." name="keySearch")
                button(type="button" onclick='search()')
                  i.fa.fa-search
               
        div(style)
          ul#listProduct(style='list-style:none;')
            each bill in doneTransasion
              li(onclick='getWaitBillDetail(this.querySelector("#dbillId").textContent)')
                .media.border.p-1
                  .media-body(style='padding-left: 30px; padding-right: 30px')
                    label#dbillId(style='font-size: x-large;')
                      b Bill ID: 
                      | #{bill._id}
                    i.fas.fa-check-circle.text-primary(style='float: right;')
                      b(style='color: black')  Đã hoàn tất
                    p
                      b Ngày tạo đơn hàng: 
                      | #{bill.dateCreate} 
                    p
                      b Khách hàng: 
                      |  #{bill.user.username}
                    p
                      b Tổng cộng: 
                      | #{bill.total} 
      
      #billCancle.container.tab-pane.fade
        br
        div(style='margin-right: 0px;')
          span
            label(for='') Từ ngày:  &nbsp;
            input(type='date') 
            label(for='') &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Đến ngày: &nbsp;
            input(type='date')
          span 
            .search-container(style="float:right; padding-right:30px;")
              .form(onsubmit='return false' method='get')
                input#inputSearch(type="text" placeholder="Search.." name="keySearch")
                button(type="button" onclick='search()')
                  i.fa.fa-search
               
        div(style)
          ul#listProduct(style='list-style:none;')
            each bill in cancelTransasion
              li(onclick='getWaitBillDetail(this.querySelector("#ccbillId").textContent)')
                .media.border.p-1
                  .media-body(style='padding-left: 30px; padding-right: 30px')
                    label#ccbillId(style='font-size: x-large;')
                      b Bill ID: 
                      | #{bill._id}
                    i.fas.fa-exclamation-triangle.text-danger(style='float: right;')
                      b(style='color: black')  Đã hủy
                    p
                      b Ngày tạo đơn hàng: 
                      | #{bill.dateCreate} 
                    p
                      b Khách hàng: 
                      |  #{bill.user.username}
                    p
                      b Thành tiền 
                      | #{bill.total}
                    p 
                      b Lý do hủy 
                      | #{bill.message}
  
  #divDiscountCode.div-content(style='display:none;padding-top:30px')
    div(style='float:right; padding-right:30px')
      button#btn_createDiscount.btn.btn-primary(type='button' onclick='show_div_createDiscount()') Tạo mã giảm giá
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.active(data-toggle='tab' href='#loyalCustomer')
          h4 Khách hàng thân thiết
      li.nav-item
        a.nav-link(data-toggle='tab' href='#discount')
          h4 Mã giảm giá
      li.nav-item
        a.nav-link(data-toggle='tab' href='#hisDiscount')
          h4 Mã hết hạn
    // Tab panes
    .tab-content
      #loyalCustomer.container.tab-pane.active
        br
        .search-container(style="float:right; padding-right:30px;")
          .form(onsubmit='return false' method='get')
            input#inputSearch(type="text" placeholder="Search.." name="keySearch")
            button(type="button" onclick='search()')
              i.fa.fa-search
        p
        div(style)
          ul(style='list-style:none; padding:30px')
            each row in loyal_user 
              li(onclick='show_loyal_cus_detail(this.querySelector("p.usId").textContent)')
                p.usId(style='display:none') #{row.user._id}
                .media.border.p-1
                  img.mr-3.mt-3.avatar(src=row.user.avatar)
                  .media-body
                    div(style='padding-top:20px')
                      label(style="font-size: x-large;")
                        b #{row.user.username}
                    div
                      label
                        b Điểm tích lũy: 
                        b #{row.point}  
        
      #discount.container.tab-pane.fade
        div(style)
          ul(style='list-style:none; padding:30px')
            each row in code 
              li(style="border-style: ridge;" onclick='show_loyal_cus_detail(this.querySelector("p.usId").textContent)')
                p.usId(style='display:none') #{row._id}
                p.discount 
                  b Mã giảm: 
                  | #{row.code}
                p.discount 
                  b Thời hạn: 
                  | #{row.dateExprite}

      #hisDiscount.container.tab-pane.fade
        div(style)
          ul(style='list-style:none; padding:30px')
            each row in expired_code 
              li(style="border-style: ridge;" onclick='show_loyal_cus_detail(this.querySelector("p.usId").textContent)')
                p.usId(style='display:none') #{row._id}
                p.discount 
                  b Mã giảm: 
                  | #{row.code}
                p.discount 
                  b Thời hạn: 
                  | #{row.dateExprite}

  #addProduct.modal.addProduct-modal
    form.modal-content.addProduct-modal-content.animate( method='post' enctype='multipart/form-data' onsubmit='return editProduct()' )
      div(style='background-color:#f1f1f1; text-align: center;')
        label.text-primary
          b#headerFormAddProduct(style='font-size: xx-large;') Thêm món mới
      .container
        .row(style='padding:16px')
          .col-sm-9
            .form-group
              label(for='#ap_foodName')
                b Tên món
              input#ap_foodName.form-control(type='text' name='foodName' placeholder='Nhập tên món' required='' )
            .form-group
              label(for='ap_price')
                b Giá
              input#ap_price.form-control(type='number' name='price' placeholder='Nhập giá' min=0 required='')  
            .form-group
              label(for='ap_caption')
                b Mô tả
              textarea#ap_caption.form-control(name='caption' placeholder='Nhập mô tả' required='', cols="30", rows="5")
          .col-sm-3
            .form-group
              img#ap_show_image.img.img-thumbnail.img-circle(width='300' height='300')
            .form-group
              input#ap_image.form-control(type='file' name='banner' accept='image/*' required='')
        .form-group(style='padding-top: 24px; padding-left: 48px; padding-right: 48px;')
          span
            button.btn.btn-primary(type='submit') Tạo món
          span(style='float: right')
            button.btn.btn-danger(type='button') Hủy bỏ
      .container(style='background-color:#f1f1f1')
        button.btn.btn-warning.form-control.collapse(type='button') Xóa món

  #billDetail.modal.billDetail-modal
    form.modal-content.billDetail-modal-content.animate( method='post' onsubmit='return editBill()')
      div(style='background-color:#f1f1f1; text-align: center;')
        label.text-primary
          b#headerFormAddProduct(style='font-size: xx-large;') Chi tiết đơn hàng
      .container
        label(for="" style="font-size: x-large;")
          b.text-primary Bill ID: &nbsp;
          b#b_billID
        i.fas.fa-clock.text-warning(style="float: right")
          b#b_billStatus(style="color: black") &nbsp;Chờ xác nhận
        p
          b.text-primary Ngày tạo đơn hàng:&nbsp; 
          b#b_billDateCreate
        p
          b.text-primary Khách hàng:&nbsp;
          b#b_billUser
        p
          b.text-primary Mã giảm giá:
          b#b_billDiscount
        p#p_billReason(style='display:none')
          b.text-primary Lý do: &nbsp;
          b#b_billReason
        hr
        table.table.table-borderless
          thead
            tr.text-primary(style="font-weight: bold; font-size: x-large;")
              th(style="text-align: center;") Sản phẩm
                hr
              th Số lượng 
                hr
              th Giá 
                hr
          tbody#bodyBillDetail

        .form-group(style='padding-top: 24px; padding-left: 48px; padding-right: 48px;')
          span
            button.btn.btn-primary(type='submit') Xác nhận 
          span(style='float: right')
            button.btn.btn-danger(type='button' onclick='fBillCancle()') Hủy đơn
      .container(style='background-color:#f1f1f1')  

  #createDiscount.modal.createDiscount-modal 
    form.modal-content.createDiscount-modal-content.animate( method='post' onsubmit='return fCreateDiscount()')
      div(style='background-color:#f1f1f1; text-align: center;')
        label.text-primary
          b#headerFormAddProduct(style='font-size: xx-large;') Tạo mã giảm giá
      .container
        .form-group
          label(for='li_code')
            b Code
          input#li_code.form-control(type='text' name='code' placeholder='Nhập mã code' required='')
        .form-group
          label(for='li_discount')
            b Sale
          input#li_discount.form-control(type='number' name='discount' min='1' max='100' placeholder='Nhập phần trăm giảm' required='')
        .form-group
          label#cr_lb_discount_amount(for='li_amount')
            b Số lượng mã
          input#li_amount.form-control(type='number' name='amount' min='1' placeholder='Nhập số lượng mã' required='')
        .form-group
          label(for='li_dateExprite')
            b Ngày hết hạn
          input#li_dateExprite.form-control(type='datetime-local' name='email' placeholder='Hạn sử dụng' required='')
        .form-group(style='padding-left: 48px; padding-right: 48px;')
          span
            button.btn.btn-primary(type='submit') Tạo
          span(style='float: right')
            button.btn.btn-danger(type='button' onclick='cancelCreateDiscount()') Hủy bỏ
      .container(style='background-color:#f1f1f1')
  
  #loyal_customer_detail.modal.loyal_customer_detail-modal
    form.modal-content.loyal_customer_detail-modal-content.animate( method='post' onsubmit='return formLoyal_customer()')
      div(style='background-color:#f1f1f1; text-align: center;')
        label.text-primary
          b(style='font-size: xx-large;') Thông tin khách hàng
      .container
        .row(style='padding:16px')
          .col-sm-3
            p
            img#img_loyal_user(src=restaurant.banner style='width:180px; height:180px')
          .col-sm-9
            label.text-primary
              b#b_loyal_user_username(style='font-size: large;') 
            i#i_loyal_user_point(style='float:right') point
            p 
              i#i_loyal_user_email 
            hr
            p#p_loyal_user_fullname fullname:
            p#p_loyal_user_phone phone:
            p#p_loyal_user_address address:
      .container 
        hr
        h4.text-primary Lịch sửa giao dịch
        div(style="overflow:scroll; height:200px")
          ul#listHisTrans.text-primary
        
      .form-group(style='padding-left: 48px; padding-right: 48px;')
          span
            button.btn.btn-primary(type='button' onclick='sendDiscount()') Tặng mã giảm giá
          span(style='float: right')
            button.btn.btn-danger(type='button' onclick='hideFormLoyalUser()') Thoát 
      .container(style='background-color:#f1f1f1')
  
  script(src='../../js/controller/res.hostpage.js')
  script(src='../../js/functions/res.hostpage.js')
